#########################
# general
#########################

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.pyc
.svn/
*.log

#########################
# IDE
#########################

# XCode
*.pbxuser
*.pbxproj
*.xcscheme
*.xcworkspace
xcshareddata*/
xcuserdata*/
*.xcconfig
openFrameworks-Info.plist

#########################
# PROJECT
#########################
bin*/
Data/*
!Data/.gitkeep 
Resources/*
!Resources/.gitkeep 
!Resources/zip/
*.app

Icon*
LabRecorderHack/doc/controls.png
LabRecorderHack/doc/labrecorder-default.png
LabRecorderHack/doc/labrecorder-running.png
LabRecorderHack/doc/labrecorder-study.png
