[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
np = "*"
scipy = "*"
pylsl = "*"
astropy = "*"
mne = "*"
osc4py3 = "*"
pyqt5 = "*"

[dev-packages]

[requires]
python_version = "3"
