<?xml version="1.0"?>
<settings>
	<show_gui__G_>1</show_gui__G_>
	<full_screen__F_>0</full_screen__F_>
	<select_screen>1</select_screen>
	<reset__R_>0</reset__R_>
	<simple_mode__S_>0</simple_mode__S_>
	<layout>
		<players>
			<color_origin>0</color_origin>
			<color_radius>0.02</color_radius>
			<group_radius>0.05</group_radius>
			<base_radius>0.02</base_radius>
			<radius_power>1</radius_power>
		</players>
		<tweak>
			<nudge_right>0</nudge_right>
			<nudge_left>0</nudge_left>
			<nudge_up>0</nudge_up>
			<nudge_down>0</nudge_down>
		</tweak>
		<edit>
			<edit__E_>0</edit__E_>
			<save>0</save>
			<load>0</load>
		</edit>
		<save>0</save>
		<load>0</load>
		<color_origin>0</color_origin>
		<edit__E_>0</edit__E_>
	</layout>
	<Flow>
		<visualization>
			<mode>10</mode>
			<name>fluid density</name>
			<scale>10</scale>
			<show_scalar>1</show_scalar>
			<show_pair_line>1</show_pair_line>
			<show_simple_visualisation>0</show_simple_visualisation>
		</visualization>
		<players>
			<velocity>1</velocity>
			<density>0.1</density>
			<radius>0.168805</radius>
			<smooth>1</smooth>
			<angle>-0.1</angle>
		</players>
		<fluid>
			<velocity>
				<speed>0.208451</speed>
				<dissipation>0.3</dissipation>
				<vorticity>0</vorticity>
				<viscosity>0</viscosity>
				<viscos_iterations>20</viscos_iterations>
			</velocity>
			<pressure>
				<speed>0</speed>
				<dissipation>0.1</dissipation>
				<iterations>40</iterations>
			</pressure>
			<density>
				<speed>0.40501</speed>
				<dissipation>0.3</dissipation>
				<viscosity>0</viscosity>
				<viscos_iterations>0</viscos_iterations>
			</density>
			<temperature>
				<speed>0.3</speed>
				<dissipation>0</dissipation>
				<buoyancy>0</buoyancy>
				<weight>0</weight>
				<abient_temperature>0.2</abient_temperature>
			</temperature>
		</fluid>
		<pressure>
			<speed>-10</speed>
			<radius>0.302374</radius>
			<smooth>1</smooth>
		</pressure>
		<attraction>
			<force__max_>0</force__max_>
			<step__pct_>1</step__pct_>
		</attraction>
		<intro>
			<passive_density>0.09</passive_density>
			<active_density>0.18</active_density>
			<dissipation>1</dissipation>
		</intro>
		<correlate>
			<color>
				<passive_density>0.04</passive_density>
				<active_density>0.4</active_density>
				<density_power>1.8</density_power>
				<passive_velocity>1</passive_velocity>
				<active_velocity>1</active_velocity>
				<velocity_power>1.618</velocity_power>
				<velocity_angle>-0.15</velocity_angle>
			</color>
			<group>
				<pressure_radius>0.3</pressure_radius>
				<pressure_power>2</pressure_power>
				<pressure_speed>-15.9626</pressure_speed>
			</group>
			<fluid_dissipation>0.3</fluid_dissipation>
			<pair>
				<_attraction_force>0.2</_attraction_force>
				<color_force>0.002</color_force>
				<_attraction_start>0.2</_attraction_start>
				<_attraction_end>1</_attraction_end>
				<color_start>0.002</color_start>
				<color_end>0.02</color_end>
			</pair>
		</correlate>
		<score>
			<color>
				<passive_density>0.02</passive_density>
				<active_density>1</active_density>
				<density_power>3</density_power>
				<passive_velocity>0.5</passive_velocity>
				<active_velocity>2</active_velocity>
				<velocity_power>2</velocity_power>
				<velocity_angle>-0.5</velocity_angle>
			</color>
			<group>
				<pressure_radius>0.622287</pressure_radius>
				<pressure_power>1.55502</pressure_power>
				<pressure_speed>-10.1189</pressure_speed>
			</group>
			<fluid_dissipation>0</fluid_dissipation>
		</score>
		<colors>
			<purple>1, 0, 0.5, 1</purple>
			<orange>1, 0.5, 0, 1</orange>
			<green>0, 1, 0.5, 1</green>
			<blue>0, 0.5, 1, 1</blue>
			<radius>0.16</radius>
			<smooth>1</smooth>
		</colors>
		<pair>
			<_attraction_force>0.3</_attraction_force>
			<color_force>0</color_force>
		</pair>
	</Flow>
</settings>
